<ion-view view-title="Test">
	<ion-content>
		<form>
			<div class="list">
				<div class="item item-divider">Number</div>
				<ion-radio ng-click="vm.test(number)" ng-repeat="number in [1,2,3,4,5,6,7,0]" ng-model="vm.note.n" ng-value="number" name="number">
					{{number}}
				</ion-radio>
				<div class="item item-divider">Octave</div>
				<ion-radio ng-repeat="octave in [-1,0,1,2]" ng-model="vm.note.o" ng-value="octave" name="octave">
					{{octave}}
				</ion-radio>
				<div class="item item-divider">Tempo</div>
				<ion-radio ng-repeat="tempo in [1,2,4,8]" ng-model="vm.note.t" ng-value="tempo" name="tempo">
					1/{{tempo}}
				</ion-radio>
				<ion-radio ng-repeat="tempo in [16,32]" ng-model="vm.note.t" ng-value="tempo" name="tempo">
					1/{{tempo}}
				</ion-radio>
				<div class="item item-divider">Dotted</div>
				<ion-radio ng-repeat="dotted in [0,1,2]" ng-model="vm.note.d" ng-value="dotted" name="dotted">
					{{dotted}}
				</ion-radio>
			</div>
		</form>
		<div class="button-bar">
			<a ng-click="vm.add(0)" class="button">Prepend</a>
			<a ng-click="vm.remove()" class="button">Remove</a>
			<a ng-click="vm.add(1)" class="button">Append</a>
		</div>
		<div class="button-bar">
			<a ng-click="vm.load()" class="button">Load</a>
			<a ng-click="vm.save()" class="button">Save</a>
			<a ng-click="vm.getSong()" class="button">Song</a>
		</div>
		<nmn-tab tab="vm.tab"></nmn-tab>
	</ion-content>

	<ion-footer-bar align-title="center" class="bar-stable">
		<div ng-click="vm.play()" class="buttons">
			<button class="button">Play</button>
		</div>
		<h1 class="title">{{vm.nmn.settings.pitch}} key / {{vm.nmn.settings.bpm}} bpm</h1>
		<div ng-click="vm.stop()" class="buttons">
			<button class="button">Stop</button>
		</div>

		<div ng-click="vm.pitch(1)" class="buttons">
			<button class="button">Pitch+</button>
		</div>
		<div ng-click="vm.pitch(-1)" class="buttons">
			<button class="button">Pitch-</button>
		</div>
		<div ng-click="vm.bpm(1)" class="buttons">
			<button class="button">Bpm+</button>
		</div>
		<div ng-click="vm.bpm(-1)" class="buttons">
			<button class="button">Bpm-</button>
		</div>
	</ion-footer-bar>
</ion-view>
